* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.logo {
  color: #e50000;
  font-family: 'Pacifico', cursive;
  /*font-size: 24px;*/
}

.header {
  height: 75px;
  border-bottom: 3px solid #51aae8;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px;
  background: white;
}

.header a {
  margin-left: 10px;
}

.header img {
  height: 75px;
}

.initialLogin {
  color: red;
  text-decoration: none;
}

.footer {
  height: 75px;
  width: 100%;
  border-top: 3px solid #51aae8;
  position: fixed;
  bottom: 0;
  background: white;
}

.footer img {
  position: absolute;
  height: 75px;
  right: 15px;
}

.loginRequestContainer {
  position: absolute;
  background: #51aae8;
  color: white;
  width: 30%;
  border-radius: 5px;
  margin: auto;
  text-align: center;
  padding: 20px;
  top: 50%;
  right: 50%;
  transform: translateY(-50%) translateX(50%);
}

.loginRequestContainer a {
  color: white;
  /*text-decoration: none;*/
}

.login {
  width: 60%;
  height: 30px;
  margin: 5px;
  border-radius: 5px;
  border: none;
  padding-left: 10px;
}

.signupContainer {
  position: absolute;
  background: #51aae8;
  color: white;
  width: 30%;
  border-radius: 5px;
  margin: auto;
  text-align: center;
  padding: 20px;
  top: 50%;
  right: 50%;
  transform: translateY(-50%) translateX(50%);
  margin-top: 80px;
  margin-bottom: 100px;
}

.signup {
  width: 60%;
  height: 30px;
  margin: 5px;
  border-radius: 5px;
  border: none;
  padding-left: 10px;
}

.signupContainer a {
  color: white;
}

.submit {
  width: 40%;
  height: 25px;
  background: #dfdfdf;
  color: #51aae8;
  border: none;
  border-radius: 5px;
  margin: auto;
  margin-top: 5px;
  padding-top: 3px;
  text-decoration: none;
}

.submit:active {
  background: white;
  /*color: #dfdfdf;*/
}
