<section class="loginRequestContainer">
  <h1> Welcome to <span class="logo">gogo!</span></h1>
  <p> Please login or sign up </p>
  <input class="login userName" placeholder="Username..." ng-model="userName" required><br />
  <input class="login password" type="password" placeholder="Password..." ng-model="password" required><br />
  <a class="submit" ng-click="checkCredentials(userName, password)"><div class="submit">Submit</div></a>

  <p><a ui-sref="signup">Sign Up</a> for further access</p>


</section>
