<section class="landingContainer">
  <section class="profileHeader">
    <div class="leftProfileColumn">
      <img ng-src="{{userLanding.headShot}}">
    </div>
    <div class="rightProfileColumn">
      <h1>{{userLanding.firstName + ' ' + userLanding.lastName}}</h1>
      <p> Age: {{userLanding.age}} </p>
      <p>Gender: {{userLanding.gender}}</p>
      <p> City: {{userLanding.city}} </p>
      <p>State: {{userLanding.state}}</p>
    </div>
    <div class="searchFriends">
      <a ui-sref="friendsLibrary({id:userLanding.id})">Search New Friends</a>
    </div>
  </section>

  <section class="myFriends">
    <img ng-src="{{friend.headShot}}" ng-repeat="friend in userLanding.friends">
  </section>

  <section class="commentContainer">
    <form ng-submit="addComment(userLanding.id, newComment)">
      <input class="newComment" type="text" placeholder="Write a comment..." ng-model="newComment">
    </form>
  </section>

  <section class="commentThread">
    <h1>Comments</h1>
    <p class="singleComment" ng-repeat="comment in userLanding.comments">
      {{comment}}
    </p>
  </section>

</section>
